---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [32]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [33]:
state = None
data = []
with open('university_towns.txt') as file:
    for line in file:
        line = line[:-1]
        if line.endswith('[edit]'):
            state = line[:-6]
        else:
            if '(' in line:
                data.append((state, line[:line.index('(') - 1]))
            else:
                data.append((state, line))
uni_town = pd.DataFrame(data, columns=['State', 'RegionName'])
uni_town.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [34]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [35]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return uni_town

In [36]:
gdp = pd.DataFrame([[np.nan, 0] for i in range(2)], columns=['quarter', 'dollar'])
temp = pd.read_excel('gdplev.xls', skiprows=220, usecols=[4, 6], header=None, columns=['quarter', 'dollar'])
temp.columns = ['quarter', 'dollar']
gdp = gdp.append(temp, ignore_index=True)
gdp.head()

  quarter   dollar
0     NaN      0.0
1     NaN      0.0
2  2000q1  12359.1
3  2000q2  12592.5
4  2000q3  12607.7

In [37]:
gdp.iloc[range(34, 50)]

   quarter   dollar
34  2008q1  14889.5
35  2008q2  14963.4
36  2008q3  14891.6
37  2008q4  14577.0
38  2009q1  14375.0
39  2009q2  14355.6
40  2009q3  14402.5
41  2009q4  14541.9
42  2010q1  14604.8
43  2010q2  14745.9
44  2010q3  14845.5
45  2010q4  14939.0
46  2011q1  14881.3
47  2011q2  14989.6
48  2011q3  15021.1
49  2011q4  15190.3

In [38]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    dollar = gdp['dollar']
    for i in range(2, len(dollar)):
        if dollar[i - 2] > dollar[i - 1] and dollar[i - 1] > dollar[i]:
            return gdp.iloc[i - 1]['quarter']

In [39]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    start_index = gdp[gdp['quarter'] == get_recession_start()].index[0]
    dollar = gdp['dollar']
    for i in range(start_index, len(dollar)):
        if dollar[i - 2] < dollar[i - 1] and dollar[i - 1] < dollar[i]:
            return gdp.iloc[i]['quarter']

In [40]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    start_index = gdp[gdp['quarter'] == get_recession_start()].index[0]
    end_index = gdp[gdp['quarter'] == get_recession_end()].index[0]
    recession_time = gdp.iloc[range(start_index, end_index + 1)]
    bottom_index = recession_time['dollar'].nsmallest(1).index[0]
    return gdp.iloc[bottom_index]['quarter']

In [41]:
houses = pd.read_csv('City_Zhvi_AllHomes.csv')
houses = houses.drop(['RegionID', 'Metro', 'CountyName', 'SizeRank'], axis=1)
houses = houses.drop([col for col in  houses.columns[2:47]], axis=1)
houses.head()

,RegionName,State,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,New York,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,Los Angeles,CA,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,Chicago,IL,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,Philadelphia,PA,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,Phoenix,AZ,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [42]:
quarter_houses = houses[['RegionName', 'State']]
quarter_houses.head()

     RegionName State
0      New York    NY
1   Los Angeles    CA
2       Chicago    IL
3  Philadelphia    PA
4       Phoenix    AZ

In [43]:
quarter_dict = {'q1': ['01', '02', '03'], 'q2': ['04', '05', '06'], 'q3': ['07', '08', '09'], 'q4': ['10', '11', '12']}

In [44]:
for year in range(2000, 2016):
    for quarter in quarter_dict:
        quarter_houses[str(year) + quarter] = houses[[str(year) + '-' + month for month in quarter_dict[quarter]]].mean(axis=1)
quarter_houses['2016q1'] = houses[[str(2016) + '-' + month for month in quarter_dict['q1']]].mean(axis=1)
quarter_houses['2016q2'] = houses[[str(2016) + '-' + month for month in quarter_dict['q2']]].mean(axis=1)
quarter_houses['2016q3'] = houses[['2016-07', '2016-08']].mean(axis=1)
quarter_houses = quarter_houses.replace({'State':states})
quarter_houses = quarter_houses.set_index(['State', 'RegionName'])
# quarter_houses

In [45]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return quarter_houses

In [59]:
convert_housing_data_to_quarters().head()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0

In [47]:
uni_towns = get_list_of_university_towns()
recession_start = get_recession_start()
recession_end = get_recession_end()
recession_bottom = get_recession_bottom()
hdata = convert_housing_data_to_quarters().copy()

In [48]:
bstart = hdata.columns[hdata.columns.get_loc(recession_start) -1]
hdata['ratio'] = hdata[bstart] / hdata[recession_bottom]

In [49]:
uni_town_data = hdata.merge(uni_towns, left_index=True, right_on=['State', 'RegionName'])
uni_town_data = uni_town_data.set_index(['State', 'RegionName'])
uni_town_data

                                        2000q1         2000q2         2000q3  \
State          RegionName
Nevada         Las Vegas         132600.000000  134366.666667  135400.000000
California     San Diego         222900.000000  234366.666667  245433.333333
Texas          Dallas             84466.666667   83866.666667   84866.666667
               Austin            142966.666667  145266.666667  149466.666667
Ohio           Columbus           94366.666667   95833.333333   97133.333333
Tennessee      Memphis            72500.000000   73200.000000   73866.666667
Massachusetts  Boston            206933.333333  219166.666667  233100.000000
Tennessee      Nashville         113833.333333  115266.666667  115866.666667
Wisconsin      Milwaukee          78033.333333   79066.666667   81033.333333
Arizona        Tucson            101833.333333  102966.666667  104466.666667
California     Sacramento        122433.333333  126000.000000  129466.666667
Georgia        Atlanta           143566.666667  147966.666667  151266.666667
Oklahoma       Tulsa              73866.666667   75166.666667   76300.000000
Florida        Tampa              79100.000000   81433.333333   82800.000000
California     Riverside         137166.666667  139666.666667  141300.000000
Kentucky       Lexington         113033.333333  115166.666667  116366.666667
New Jersey     Newark            124466.666667  127700.000000  130433.333333
Florida        Tallahassee       103100.000000  104366.666667  105000.000000
Kentucky       Louisville         79866.666667   80833.333333   81466.666667
Texas          Lubbock                     NaN            NaN            NaN
North Carolina Durham            129300.000000  132533.333333  135100.000000
Florida        Orlando            88666.666667   90366.666667   92433.333333
North Carolina Greensboro        104933.333333  106900.000000  108100.000000
Nebraska       Lincoln           105966.666667  107600.000000  109700.000000
Virginia       Chesapeake        121200.000000  122733.333333  123300.000000
Wisconsin      Madison           137700.000000  140500.000000  141933.333333
Tennessee      Knoxville          79666.666667   80166.666667   80466.666667
New York       Rochester          53566.666667   53233.333333   53200.000000
North Carolina Winston-Salem     100233.333333  101566.666667  102533.333333
California     Irvine            326966.666667  336966.666667  341733.333333
...                                        ...            ...            ...
Pennsylvania   Edinboro           93900.000000   98166.666667   94366.666667
               Collegeville      179966.666667  180100.000000  185000.000000
Massachusetts  Paxton            173333.333333  177633.333333  182133.333333
Pennsylvania   Kutztown          106966.666667  107966.666667  111766.666667
Indiana        Upland             86700.000000   85900.000000   86400.000000
Vermont        Castleton                   NaN            NaN            NaN
Pennsylvania   Annville           87066.666667   87033.333333   86200.000000
Kentucky       Wilmore           101266.666667  100266.666667  102000.000000
New York       Clinton           164200.000000  169100.000000  176100.000000
               Clinton            94700.000000   99633.333333  104433.333333
Tennessee      Henderson          64933.333333   64000.000000   62066.666667
Michigan       Olivet             85833.333333   90600.000000   91900.000000
Indiana        Hanover            78566.666667   80866.666667   82033.333333
Georgia        Waleska           123633.333333  125433.333333  128300.000000
Michigan       Spring Arbor      118433.333333  122633.333333  125533.333333
New Hampshire  Rindge            121866.666667  127300.000000  128233.333333
North Carolina Elon              142100.000000  143033.333333  145066.666667
Ohio           Hiram             154300.000000  154400.000000  155100.000000
Georgia        Demorest           81000.000000   83066.666667   84633.333333
Pennsylvania   New Wilmington              NaN            NaN            NaN
Ohio           Cedarville                  NaN            NaN            NaN
Tennessee      Sewanee                     NaN            NaN            NaN
Pennsylvania   California         49400.000000   48433.333333   47933.333333
Kentucky       Highland Heights   79000.000000   79866.666667   81233.333333
Rhode Island   Kingston          174566.666667  179766.666667  184400.000000
Illinois       Lebanon            78500.000000   79566.666667   79700.000000
Michigan       Berrien Springs             NaN            NaN            NaN
Indiana        Oakland City                NaN            NaN            NaN
Ohio           Oberlin           108200.000000  109900.000000  113466.666667
Texas          Keene              72200.000000   74200.000000   74600.000000

                                        2000q4         2001q1         2001q2  \
State          RegionName
Nevada         Las Vegas         137000.000000  139533.333333  141733.333333
California     San Diego         256033.333333  267200.000000  276266.666667
Texas          Dallas             87833.333333   89733.333333   89300.000000
               Austin            155733.333333  161233.333333  160733.333333
Ohio           Columbus           98266.666667   99400.000000  100266.666667
Tennessee      Memphis            74000.000000   74166.666667   74933.333333
Massachusetts  Boston            242500.000000  249600.000000  257066.666667
Tennessee      Nashville         116933.333333  118033.333333  119166.666667
Wisconsin      Milwaukee          82333.333333   84033.333333   85566.666667
Arizona        Tucson            105666.666667  107200.000000  108766.666667
California     Sacramento        134600.000000  141166.666667  148933.333333
Georgia        Atlanta           153933.333333  158533.333333  162100.000000
Oklahoma       Tulsa              77166.666667   78466.666667   79566.666667
Florida        Tampa              84033.333333   86100.000000   87566.666667
California     Riverside         144500.000000  148533.333333  155566.666667
Kentucky       Lexington         117400.000000  118733.333333  120166.666667
New Jersey     Newark            132900.000000  135133.333333  138233.333333
Florida        Tallahassee       106433.333333  107700.000000  108933.333333
Kentucky       Louisville         82300.000000   83566.666667   84766.666667
Texas          Lubbock                     NaN            NaN            NaN
North Carolina Durham            136066.666667  135666.666667  136900.000000
Florida        Orlando            94800.000000   97266.666667   99166.666667
North Carolina Greensboro        108966.666667  109666.666667  110066.666667
Nebraska       Lincoln           110766.666667  111766.666667  111800.000000
Virginia       Chesapeake        123533.333333  125833.333333  128600.000000
Wisconsin      Madison           142966.666667  146033.333333  149600.000000
Tennessee      Knoxville          81100.000000   81500.000000   81833.333333
New York       Rochester          53200.000000   53066.666667   52533.333333
North Carolina Winston-Salem     103300.000000  104333.333333  105100.000000
California     Irvine            352266.666667  362500.000000  375100.000000
...                                        ...            ...            ...
Pennsylvania   Edinboro           93066.666667   93566.666667   94266.666667
               Collegeville      191966.666667  199433.333333  205466.666667
Massachusetts  Paxton            188933.333333  196266.666667  203400.000000
Pennsylvania   Kutztown          113800.000000  115966.666667  118300.000000
Indiana        Upland             88466.666667   90800.000000   92533.333333
Vermont        Castleton                   NaN            NaN            NaN
Pennsylvania   Annville           87866.666667   92333.333333   93966.666667
Kentucky       Wilmore           103333.333333  104666.666667  107866.666667
New York       Clinton           183033.333333  188233.333333  192066.666667
               Clinton           107966.666667  110633.333333  111400.000000
Tennessee      Henderson          62900.000000   64533.333333   65433.333333
Michigan       Olivet             94566.666667   96000.000000   96533.333333
Indiana        Hanover            81966.666667   84800.000000   86233.333333
Georgia        Waleska           131366.666667  133133.333333  137000.000000
Michigan       Spring Arbor      128233.333333  132200.000000  132700.000000
New Hampshire  Rindge            129533.333333  132733.333333  136166.666667
North Carolina Elon              148633.333333  149333.333333  148100.000000
Ohio           Hiram             155666.666667  156266.666667  158066.666667
Georgia        Demorest           81600.000000   80266.666667   82433.333333
Pennsylvania   New Wilmington              NaN            NaN            NaN
Ohio           Cedarville                  NaN            NaN            NaN
Tennessee      Sewanee                     NaN            NaN            NaN
Pennsylvania   California         47133.333333   47600.000000   50133.333333
Kentucky       Highland Heights   81900.000000   82766.666667   83033.333333
Rhode Island   Kingston          187833.333333  192233.333333  200133.333333
Illinois       Lebanon            82366.666667   83566.666667   86066.666667
Michigan       Berrien Springs             NaN            NaN            NaN
Indiana        Oakland City                NaN            NaN            NaN
Ohio           Oberlin           114633.333333  114700.000000  116400.000000
Texas          Keene              76266.666667   79800.000000   80733.333333

                                        2001q3         2001q4         2002q1  \
State          RegionName
Nevada         Las Vegas         143366.666667  146133.333333  149333.333333
California     San Diego         284500.000000  291933.333333  301233.333333
Texas          Dallas             89066.666667   90900.000000   92566.666667
               Austin            159533.333333  160033.333333  158966.666667
Ohio           Columbus          101066.666667  102200.000000  103400.000000
Tennessee      Memphis            75500.000000   76066.666667   76333.333333
Massachusetts  Boston            266933.333333  274966.666667  282500.000000
Tennessee      Nashville         120100.000000  120800.000000  121566.666667
Wisconsin      Milwaukee          87066.666667   88400.000000   89533.333333
Arizona        Tucson            110566.666667  112800.000000  115000.000000
California     Sacramento        156600.000000  162400.000000  168433.333333
Georgia        Atlanta           163200.000000  164666.666667  165733.333333
Oklahoma       Tulsa              80433.333333   81300.000000   81533.333333
Florida        Tampa              89800.000000   91800.000000   94500.000000
California     Riverside         161233.333333  165400.000000  171433.333333
Kentucky       Lexington         121200.000000  120966.666667  121666.666667
New Jersey     Newark            143066.666667  146133.333333  148000.000000
Florida        Tallahassee       111200.000000  113100.000000  115300.000000
Kentucky       Louisville         85533.333333   86133.333333   86333.333333
Texas          Lubbock                     NaN            NaN            NaN
North Carolina Durham            138000.000000  140066.666667  141600.000000
Florida        Orlando           101933.333333  104266.666667  106800.000000
North Carolina Greensboro        110233.333333  110133.333333  110066.666667
Nebraska       Lincoln           112633.333333  113666.666667  115566.666667
Virginia       Chesapeake        131633.333333  134700.000000  137733.333333
Wisconsin      Madison           152766.666667  153633.333333  155966.666667
Tennessee      Knoxville          82400.000000   83300.000000   84066.666667
New York       Rochester          52666.666667   53200.000000   53366.666667
North Carolina Winston-Salem     106800.000000  107566.666667  107300.000000
California     Irvine            384000.000000  390733.333333  400733.333333
...                                        ...            ...            ...
Pennsylvania   Edinboro           97200.000000   95733.333333   94300.000000
               Collegeville      207833.333333  210733.333333  216400.000000
Massachusetts  Paxton            214100.000000  227033.333333  235000.000000
Pennsylvania   Kutztown          117633.333333  118566.666667  119766.666667
Indiana        Upland             94033.333333   95933.333333   98100.000000
Vermont        Castleton                   NaN            NaN            NaN
Pennsylvania   Annville           93066.666667   91766.666667   91333.333333
Kentucky       Wilmore           111666.666667  114166.666667  112833.333333
New York       Clinton           194633.333333  200800.000000  206800.000000
               Clinton           110533.333333  109133.333333  110166.666667
Tennessee      Henderson          67366.666667   67933.333333   67233.333333
Michigan       Olivet             96466.666667   98666.666667  103633.333333
Indiana        Hanover            84033.333333   81833.333333   81466.666667
Georgia        Waleska           137833.333333  143366.666667  153033.333333
Michigan       Spring Arbor      133900.000000  134133.333333  134266.666667
New Hampshire  Rindge            137433.333333  140933.333333  147366.666667
North Carolina Elon              149100.000000  146933.333333  148400.000000
Ohio           Hiram             160800.000000  164700.000000  166333.333333
Georgia        Demorest           81333.333333   81933.333333   83300.000000
Pennsylvania   New Wilmington              NaN            NaN            NaN
Ohio           Cedarville                  NaN            NaN            NaN
Tennessee      Sewanee                     NaN            NaN            NaN
Pennsylvania   California         51466.666667   53033.333333   53166.666667
Kentucky       Highland Heights   83966.666667   86166.666667   88833.333333
Rhode Island   Kingston          215600.000000  230700.000000  247533.333333
Illinois       Lebanon            86900.000000   88633.333333   92533.333333
Michigan       Berrien Springs             NaN            NaN            NaN
Indiana        Oakland City                NaN            NaN            NaN
Ohio           Oberlin           116166.666667  116166.666667  116066.666667
Texas          Keene              80066.666667   79733.333333   80433.333333

                                        2002q2    ...            2014q3  \
State          RegionName                         ...
Nevada         Las Vegas         150933.333333    ...     173400.000000
California     San Diego         312866.666667    ...     489033.333333
Texas          Dallas             93800.000000    ...     108900.000000
               Austin            157500.000000    ...     252800.000000
Ohio           Columbus          104800.000000    ...     104500.000000
Tennessee      Memphis            76766.666667    ...      69100.000000
Massachusetts  Boston            289300.000000    ...     431433.333333
Tennessee      Nashville         122633.333333    ...     162300.000000
Wisconsin      Milwaukee          91366.666667    ...      92166.666667
Arizona        Tucson            117200.000000    ...     143433.333333
California     Sacramento        175566.666667    ...     225933.333333
Georgia        Atlanta           167100.000000    ...     158033.333333
Oklahoma       Tulsa              82033.333333    ...      95233.333333
Florida        Tampa              97233.333333    ...     132700.000000
California     Riverside         177333.333333    ...     290033.333333
Kentucky       Lexington         123566.666667    ...     147033.333333
New Jersey     Newark            151033.333333    ...     188100.000000
Florida        Tallahassee       117366.666667    ...     151200.000000
Kentucky       Louisville         87066.666667    ...     102200.000000
Texas          Lubbock                     NaN    ...     106366.666667
North Carolina Durham            142666.666667    ...     160266.666667
Florida        Orlando           108600.000000    ...     131100.000000
North Carolina Greensboro        110433.333333    ...     118866.666667
Nebraska       Lincoln           116966.666667    ...     138100.000000
Virginia       Chesapeake        140633.333333    ...     236700.000000
Wisconsin      Madison           158900.000000    ...     196833.333333
Tennessee      Knoxville          85000.000000    ...     125366.666667
New York       Rochester          53566.666667    ...      61266.666667
North Carolina Winston-Salem     107800.000000    ...     114033.333333
California     Irvine            410933.333333    ...     736400.000000
...                                        ...    ...               ...
Pennsylvania   Edinboro           95433.333333    ...     134900.000000
               Collegeville      222100.000000    ...     321233.333333
Massachusetts  Paxton            241366.666667    ...     251700.000000
Pennsylvania   Kutztown          121466.666667    ...     162766.666667
Indiana        Upland             97700.000000    ...      97866.666667
Vermont        Castleton                   NaN    ...     156166.666667
Pennsylvania   Annville           93666.666667    ...     133966.666667
Kentucky       Wilmore           112500.000000    ...     128466.666667
New York       Clinton           213866.666667    ...     262733.333333
               Clinton           112966.666667    ...     167400.000000
Tennessee      Henderson          67166.666667    ...      84066.666667
Michigan       Olivet            107600.000000    ...     103633.333333
Indiana        Hanover            81833.333333    ...      84333.333333
Georgia        Waleska           158566.666667    ...     148000.000000
Michigan       Spring Arbor      137833.333333    ...     135733.333333
New Hampshire  Rindge            157433.333333    ...     205566.666667
North Carolina Elon              151533.333333    ...     158000.000000
Ohio           Hiram             166733.333333    ...     177500.000000
Georgia        Demorest           83500.000000    ...      95200.000000
Pennsylvania   New Wilmington              NaN    ...     134933.333333
Ohio           Cedarville                  NaN    ...     144166.666667
Tennessee      Sewanee                     NaN    ...     220033.333333
Pennsylvania   California         53766.666667    ...      82433.333333
Kentucky       Highland Heights   90533.333333    ...      96166.666667
Rhode Island   Kingston          262833.333333    ...     296366.666667
Illinois       Lebanon            95200.000000    ...      96966.666667
Michigan       Berrien Springs             NaN    ...      96400.000000
Indiana        Oakland City                NaN    ...      49700.000000
Ohio           Oberlin           117000.000000    ...     114100.000000
Texas          Keene              80800.000000    ...     102266.666667

                                        2014q4         2015q1         2015q2  \
State          RegionName
Nevada         Las Vegas         175466.666667  177500.000000  181600.000000
California     San Diego         496433.333333  503366.666667  512066.666667
Texas          Dallas            111533.333333  113700.000000  121133.333333
               Austin            258133.333333  266500.000000  275033.333333
Ohio           Columbus          106433.333333  107866.666667  109433.333333
Tennessee      Memphis            71166.666667   70533.333333   68700.000000
Massachusetts  Boston            440733.333333  448500.000000  455366.666667
Tennessee      Nashville         166900.000000  171466.666667  176266.666667
Wisconsin      Milwaukee          91966.666667   93333.333333   94100.000000
Arizona        Tucson            144233.333333  144166.666667  145133.333333
California     Sacramento        230900.000000  234700.000000  241033.333333
Georgia        Atlanta           162333.333333  166866.666667  172066.666667

In [50]:
non_uni_list = list(set(hdata.index.tolist()) - set(uni_town_data.index.tolist()))
non_uni_town_data = hdata.loc[non_uni_list]

In [51]:
non_uni_town_data

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3,ratio
State,RegionName,,,,,,,,,,,,,,,,,,,,,
Florida,Kendall West,85433.333333,86733.333333,88966.666667,90466.666667,91666.666667,94400.000000,98300.000000,101566.666667,105833.333333,110100.000000,...,151100.000000,157366.666667,160900.000000,165033.333333,167000.000000,171033.333333,174666.666667,180366.666667,184950.0,1.503414
Georgia,Moreland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154800.000000,158700.000000,158133.333333,159266.666667,162700.000000,165100.000000,163700.000000,167000.000000,169400.0,NaN
Kentucky,Fisherville,209533.333333,214433.333333,214733.333333,215666.666667,217700.000000,220966.666667,219366.666667,220000.000000,221300.000000,221566.666667,...,279866.666667,284166.666667,292533.333333,295233.333333,295000.000000,294566.666667,289400.000000,289233.333333,301600.0,1.004048
Tennessee,Selmer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58000.000000,59700.000000,60433.333333,62166.666667,63766.666667,66300.000000,66133.333333,68333.333333,70650.0,NaN
Indiana,Battle Ground,NaN,NaN,NaN,NaN,NaN,NaN,122100.000000,121366.666667,123733.333333,120633.333333,...,135600.000000,142200.000000,144866.666667,149700.000000,151333.333333,148500.000000,144166.666667,140466.666667,139400.0,0.887380
California,Banning,97733.333333,99033.333333,101500.000000,104966.666667,110766.666667,116933.333333,118233.333333,121000.000000,122600.000000,125700.000000,...,181833.333333,185966.666667,186500.000000,190400.000000,197500.000000,201966.666667,205400.000000,210966.666667,215150.0,1.371429
Florida,Southwest Ranches,283000.000000,293300.000000,306633.333333,317033.333333,325366.666667,337166.666667,343666.666667,352833.333333,359300.000000,372233.333333,...,532366.666667,548700.000000,553166.666667,565166.666667,579700.000000,586366.666667,582033.333333,588900.000000,598350.0,1.248284
New Jersey,Country Lake Estates,92866.666667,93800.000000,94266.666667,95600.000000,98100.000000,99600.000000,102933.333333,105200.000000,107333.333333,108700.000000,...,152166.666667,149566.666667,148600.000000,151566.666667,156833.333333,157333.333333,156400.000000,156633.333333,156850.0,1.036560
Arkansas,Ward,74900.000000,75133.333333,75266.666667,76166.666667,78100.000000,80000.000000,81100.000000,81500.000000,82366.666667,82066.666667,...,109033.333333,110000.000000,110166.666667,110333.333333,107966.666667,108333.333333,108366.666667,109466.666667,110750.0,1.004712
Texas,Paris,63666.666667,68333.333333,70966.666667,70266.666667,65733.333333,62433.333333,61433.333333,63933.333333,64466.666667,64466.666667,...,61300.000000,62133.333333,65300.000000,66400.000000,67133.333333,67766.666667,67666.666667,67000.000000,67850.0,1.265546
Washington,Moses Lake,80433.333333,80000.000000,79666.666667,79933.333333,80333.333333,81866.666667,83100.000000,84100.000000,85066.666667,85066.666667,...,132466.666667,132166.666667,132266.666667,134000.000000,137100.000000,138566.666667,138900.000000,139233.333333,139850.0,1.075983
Michigan,Mount Clemens,110100.000000,115033.333333,118266.666667,119900.000000,120100.000000,121066.666667,122166.666667,122700.000000,124033.333333,121966.666667,...,76700.000000,79400.000000,81933.333333,83633.333333,85466.666667,88766.666667,92133.333333,94300.000000,94900.0,1.352183
Arizona,Queen Creek,120133.333333,131033.333333,140433.333333,143900.000000,145466.666667,140233.333333,133766.666667,135200.000000,137366.666667,138233.333333,...,193466.666667,196566.666667,197700.000000,199233.333333,203966.666667,209833.333333,212900.000000,215600.000000,217800.0,1.304219
Florida,Crawfordville,82266.666667,86033.333333,88266.666667,94300.000000,99333.333333,100733.333333,103666.666667,106566.666667,110566.666667,115800.000000,...,133166.666667,134766.666667,139000.000000,140033.333333,141100.000000,142300.000000,143366.666667,147733.333333,149400.0,1.019650
Ohio,Grand Rapids,117900.000000,122700.000000,125833.333333,126300.000000,127933.333333,128200.000000,125800.000000,123433.333333,122900.000000,123400.000000,...,135333.333333,135633.333333,136800.000000,136933.333333,137133.333333,141000.000000,142766.666667,145266.666667,148700.0,1.013316
Kentucky,Smithfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157466.666667,157200.000000,153333.333333,143000.000000,142700.000000,151466.666667,162500.000000,183366.666667,194800.0,NaN
Maryland,Brunswick,99133.333333,100900.000000,101133.333333,101466.666667,102833.333333,104966.666667,108466.666667,110733.333333,113866.666667,117800.000000,...,182133.333333,180800.000000,179566.666667,180033.333333,177700.000000,179800.000000,179566.666667,182233.333333,186250.0,1.109176
Pennsylvania,Edwardsville,41666.666667,41666.666667,45000.000000,46833.333333,47566.666667,45833.333333,45566.666667,49966.666667,51800.000000,52700.000000,...,58266.666667,59933.333333,60600.000000,61233.333333,62633.333333,62700.000000,62666.666667,63666.666667,66200.0,1.028330
Tennessee,Blountville,96066.666667,97800.000000,98666.666667,98866.666667,99500.000000,101066.666667,101733.333333,101866.666667,102500.000000,102766.666667,...,142566.666667,141766.666667,141566.666667,141800.000000,142933.333333,144366.666667,146966.666667,149500.000000,151250.0,0.998268
Pennsylvania,Worcester,237033.333333,238533.333333,241700.000000,248933.333333,254666.666667,264066.666667,275433.333333,281100.000000,286200.000000,292133.333333,...,409900.000000,413333.333333,405233.333333,408733.333333,414533.333333,415733.333333,420133.333333,420533.333333,424300.0,1.071962
Mississippi,Flowood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160233.333333,161766.666667,163333.333333,164200.000000,164533.333333,165033.333333,167333.333333,168666.666667,169800.0,NaN
Indiana,West Harrison,137600.000000,140433.333333,140733.333333,140366.666667,142300.000000,143066.666667,141766.666667,143733.333333,144366.666667,145766.666667,...,165433.333333,168366.666667,170500.000000,176666.666667,183333.333333,186033.333333,186233.333333,183666.666667,181300.0,1.013710
Pennsylvania,Shanor-Northvue,123566.666667,130166.666667,132500.000000,135766.666667,136733.333333,136566.666667,138233.333333,138933.333333,138733.333333,137466.666667,...,175200.000000,177466.666667,178800.000000,179866.666667,179133.333333,178566.666667,180200.000000,181133.333333,180950.0,1.014570
Louisiana,Elmwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160066.666667,162300.000000,165066.666667,166800.000000,169966.666667,172733.333333,175766.666667,178933.333333,180950.0,0.978574
Pennsylvania,Rutherford,97700.000000,98800.000000,98933.333333,98533.333333,99600.000000,100900.000000,102066.666667,104300.000000,105800.000000,105533.333333,...,130100.000000,132033.333333,132133.333333,132266.666667,132833.333333,132400.000000,130200.000000,130633.333333,131850.0,1.047248
Illinois,Washington Park,36100.000000,37633.333333,38900.000000,38800.000000,36566.666667,35533.333333,35400.000000,36466.666667,39100.000000,43000.000000,...,42333.333333,41766.666667,39933.333333,39233.333333,40300.000000,41500.000000,42166.666667,42966.666667,43650.0,0.881770
Indiana,Evansville,82666.666667,83466.666667,85666.666667,87166.666667,88833.333333,91133.333333,91900.000000,91566.666667,91700.000000,92000.000000,...,100700.000000,101066.666667,102033.333333,103200.000000,105733.333333,107633.333333,105500.000000,104566.666667,104650.0,1.047816
Connecticut,Morris,191800.000000,197833.333333,197900.000000,200200.000000,204100.000000,213500.000000,221633.333333,225666.666667,225300.000000,229500.000000,...,271733.333333,275033.333333,278600.000000,279966.666667,279733.333333,277266.666667,280600.000000,279233.333333,276100.0,1.030114
Florida,Navarre,127366.666667,127033.333333,126566.666667,127533.333333,130433.333333,132400.000000,133600.000000,134266.666667,134933.333333,136000.000000,...,204633.333333,204066.666667,205933.333333,207033.333333,206566.666667,206000.000000,208700.000000,210433.333333,212850.0,1.051738
New York,Greenwood Lake,121000.000000,122400.000000,125300.000000,134433.333333,138000.000000,138666.666667,128533.333333,135700.000000,143666.666667,149500.000000,...,196133.333333,200800.000000,206233.333333,210000.000000,207066.666667,203733.333333,203600.000000,198200.000000,194450.0,1.027809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
North Carolina,Leland,133866.666667,138566.666667,143566.666667,146900.000000,148966.666667,147500.000000,144700.000000,140633.333333,140200.000000,142233.333333,...,194666.666667,195866.666667,194300.000000,199933.333333,201800.000000,202033.333333,200400.000000,200833.333333,201400.0,1.201891
Pennsylvania,Folcroft,67266.666667,68266.666667,70133.333333,69866.666667,68900.000000,69033.333333,69666.666667,71866.666667,72766.666667,72866.666667,...,86533.333333,85933.333333,86433.333333,90100.000000,96333.333333,97633.333333,97700.000000,94700.000000,92150.0,1.050671
Connecticut,Sandy Hook,269400.000000,278533.333333,288766.666667,289566.666667,297233.333333,300800.000000,305100.000000,312533.333333,316633.333333,324333.333333,...,340000.000000,336566.666667,335000.000000,333466.666667,337000.000000,337866.666667,332733.333333,331200.000000,331850.0,1.114377
New Jersey,North Haledon,251766.666667,249033.333333,248100.000000,250500.000000,257700.000000,272033.333333,285000.000000,299866.666667,309000.000000,316300.000000,...,384533.333333,382133.333333,377300.000000,373666.666667,384100.000000,392433.333333,396666.666667,400833.333333,400950.0,1.122537
New York,Bethel,97433.333333,100366.666667,100400.000000,99600.000000,100733.333333,103366.666667,109133.333333,113833.333333,120300.000000,124833.333333,...,145000.000000,142600.000000,142466.666667,145000.000000,146366.666667,151366.666667,153133.333333,156333.333333,158050.0,0.979687
Michigan,Douglas,190533.333333,206966.666667,224466.666667,230900.000000,233833.333333,231233.333333,240966.666667,245933.333333,255100.000000,254400.000000,...,307500.000000,302900.000000,301100.000000,301433.333333,308100.000000,308533.333333,313633.333333,320700.000000,324700.0,1.097065
Colorado,Arvada,178766.666667,183833.333333,190233.333333,196166.666667,201066.666667,206200.000000,209933.333333,213000.000000,215100.000000,217400.000000,...,262566.666667,269033.333333,278900.000000,289900.000000,303100.000000,315833.333333,325166.666667,333833.333333,341150.0,1.037025
Minnesota,Plymouth,196066.666667,200700.000000,205566.666667,211833.333333,218033.333333,224900.000000,230200.000000,233833.333333,235666.666667,239633.333333,...,293100.000000,296300.000000,297600.000000,296066.666667,299033.333333,303166.666667,306400.000000,307766.666667,310750.0,1.058795
Wisconsin,Fairchild,87966.666667,92033.333333,90800.000000,90366.666667,92066.666667,93433.333333,94266.666667,95600.000000,97600.000000,99400.000000,...,87433.333333,90100.000000,90333.333333,89200.000000,85033.333333,85266.666667,82966.666667,84633.333333,88250.0,0.924320
Kansas,Garden Plain,100533.333333,100733.333333,102133.333333,103333.333333,105600.000000,106666.666667,107533.333333,104800.000000,104700.000000,104166.666667,...,136466.666667,137700.000000,139933.333333,142166.666667,143800.000000,143566.666667,143400.000000,144700.000000,147550.0,0.953046
Ohio,Kirtland,221366.666667,223466.666667,224633.333333,225166.666667,227133.333333,230266.666667,233566.666667,234533.333333,236700.000000,238266.666667,...,233900.000000,235966.666667,237800.000000,245766.666667,249800.000000,248433.333333,250700.000000,250400.000000,249500.0,1.005039
Oregon,Talent,120633.333333,123800.000000,126166.666667,128033.333333,131400.000000,134200.000000,135933.333333,138100.000000,141633.333333,145000.000000,...,208366.666667,209200.000000,207700.000000,210900.000000,217700.000000,223166.666667,229000.000000,231833.333333,235800.0,1.107700
Ohio,Fairlawn,159666.666667,161800.000000,161400.000000,161666.666667,162633.333333,164266.666667,164066.666667,164233.333333,164733.333333,163000.000000,...,162400.000000,164333.333333,164400.000000,165966.666667,167966.666667,169733.333333,170300.000000,170533.333333,170200.0,1.107314
Colorado,Niwot,348866.666667,356966.666667,370033.333333,385300.000000,400133.333333,425766.666667,440300.000000,439866.666667,433866.666667,430500.000000,...,523566.666667,536533.333333,550600.000000,568966.666667,588133.333333,609833.333333,624733.333333,633733.333333,646900.0,1.027155
New York,Massapequa Park,251633.333333,252800.000000,254266.666667,261500.000000,267533.333333,274500.000000,283300.000000,295166.666667,304166.666667,316166.666667,...,417733.333333,413500.000000,417033.333333,420200.000000,425966.666667,433733.333333,430533.333333,433833.333333,434550.0,1.056696
Michigan,Sodus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,109400.000000,108100.000000,112500.000000,116366.666667,117366.666667,116266.666667,115733.333333,117833.333333,112200.0,0.970671
Florida,Vamo,119800.000000,123033.333333,127066.666667,129500.000000,132066.666667,136500.000000,140300.000000,141466.666667,143333.333333,146700.000000,...,165466.666667,169766.666667,174133.333333,179500.000000,188000.000000,191533.333333,200333.333333,204133.333333,207200.0,1.107307
Arkansas,Mount Vernon,67033.333333,65966.666667,65100.000000,64833.333333,64700.000000,65500.000000,65966.666667,67700.000000,68733.333333,71200.000000,...,110800.000000,110333.333333,110766.666667,117433.333333,121166.666667,122800.000000,122666.666667,120366.666667,118150.0,0.957256
Iowa,New Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151800.000000,156766.666667,154700.000000,159400.000000,160400.000000,160533.333333,152066.666667,150333.333333,154550.0,NaN
North Carolina,Monroe,113833.333333,114033.333333,115133.333333,116466.666667,117366.666667,118033.333333,118100.000000,118366.666667,118133.333333,117600.000000,...,130300.000000,131366.666667,131866.666667,132633.333333,132666.666667,134300.000000,134933.333333,136666.666667,138850.0,1.058472
Florida,Treasure Island,140300.000000,140733.333333,143800.000000,147366.666667,152066.666667,160700.000000,167566.666667,169800.000000,174933.333333,182833.333333,...,279266.666667,288433.333333,295766.666667,302400.000000,306566.666667,313000.000000,319433.333333,323100.000000,325750.0,1.127598
Georgia,Georgetown,118566.666667,116633.333333,114466.666667,114133.333333,115133.333333,118066.666667,122466.666667,121733.333333,122633.333333,123366.666667,...,142566.666667,144600.000000,148033.333333,149633.333333,151600.000000,154633.333333,155200.000000,153733.333333,153950.0,1.041836
Connecticut,Town of Colchester,156233.333333,161366.666667,166666.666667,168566.666667,174433.333333,177600.000000,179400.000000,183866.666667,189266.666667,193600.000000,...,232733.333333,230933.333333,230933.333333,231500.000000,234100.000000,233566.666667,232766.666667,232666.666667,233000.0,1.081903
Pennsylvania,West Lampeter,143233.333333,144733.333333,146733.333333,148733.333333,149633.333333,150033.333333,150800.000000,152400.000000,155133.333333,156666.666667,...,219066.666667,219266.666667,221300.000000,223566.666667,225000.000000,224600.000000,223566.666667,226433.333333,228800.0,1.061584
North Carolina,Efland,117466.666667,117966.666667,120633.333333,122733.333333,128350.000000,130100.000000,130133.333333,131633.333333,132600.000000,132933.333333,...,155533.333333,157466.666667,158266.666667,158966.666667,158066.666667,158066.666667,158833.333333,160500.000000,163150.0,1.010529
New Jersey,Harrington Park,361633.333333,373066.666667,377266.666667,386966.666667,394233.333333,400866.666667,412400.000000,430733.333333,447433.333333,464766.666667,...,570566.666667,575433.333333,586866.666667,592400.000000,593733.333333,595333.333333,586866.666667,589100.000000,589550.0,1.075114
Hawaii,Puako,455500.000000,483600.000000,520600.000000,551500.000000,585233.333333,592366.666667,592866.666667,621700.000000,630500.000000,633400.000000,...,912333.333333,900500.000000,875700.000000,881766.666667,875300.000000,877833.333333,882666.666667,889533.333333,880400.0,1.002270
Illinois,Highland,89466.666667,89800.000000,89600.000000,90533.333333,92033.333333,93766.666667,94433.333333,95200.000000,96366.666667,98566.666667,...,123066.666667,122566.666667,122166.666667,122633.333333,122733.333333,122133.333333,122700.000000,123466.666667,124200.0,0.994938
California,Arden-Arcade,155833.333333,160833.333333,164133.333333,167233.333333,174066.666667,182533.333333,190766.666667,194733.333333,198766.666667,206633.333333,...,278333.333333,275933.333333,278966.666667,287266.666667,292533.333333,298466.666667,306700.000000,309933.333333,312650.0,1.086493
Texas,Goodrich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78433.333333,79466.666667,79800.000000,83500.000000,86833.333333,92100.000000,93966.666667,96133.333333,107800.0,NaN

In [52]:
t,p = ttest_ind(uni_town_data['ratio'].dropna(),non_uni_town_data['ratio'].dropna())

In [53]:
t, p

(-2.998032664179183, 0.0027240637047611684)

In [54]:
different = True if p < 0.01 else False

In [55]:
better = "non-university town" if uni_town_data['ratio'].mean() > non_uni_town_data['ratio'].mean() else "university town"

In [56]:
better

'university town'

In [57]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return (different, p, better)

In [58]:
run_ttest()

(True, 0.0027240637047611684, 'university town')